/* @import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css"); */
:root {
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);

    --custom-guild-list-padding: 12px;
    --custom-guild-list-width: calc(
        max(var(--guildbar-avatar-size), var(--guildbar-folder-size))
        + var(--custom-guild-list-padding) * 2
    );
    --pill-roundness: 16px;
    --pill-opacity: 30%;
    --pill-border: false; /* "true" to enable */
    --prompt-text: "Unbelievable urge to shitpost? Don't hold back!"
}

nav[class*="guilds_"] {
    /* Uncomment if you changed up your nameplate */
    /* margin: 0;
    [class*="sidebar_"]::after {
        height: 0;
    } */

    defs>path {
        /* #svg-mask-squircle */
        d: path("M0 0.464C0 0.301585 0 0.220377 0.0316081 0.158343C0.0594114 0.103776 0.103776 0.0594114 0.158343 0.0316081C0.220377 0 0.301585 0 0.464 0H0.536C0.698415 0 0.779623 0 0.841657 0.0316081C0.896224 0.0594114 0.940589 0.103776 0.968392 0.158343C1 0.220377 1 0.301585 1 0.464V0.536C1 0.698415 1 0.779623 0.968392 0.841657C0.940589 0.896224 0.896224 0.940589 0.841657 0.968392C0.779623 1 0.698415 1 0.536 1H0.464C0.301585 1 0.220377 1 0.158343 0.968392C0.103776 0.940589 0.0594114 0.896224 0.0316081 0.841657C0 0.779623 0 0.698415 0 0.536V0.464Z");
    }

    defs, 
    [class*="blobContainer_"],
    [class*="listItemWrapper__"],
    [class*="wrapper_"]:not([class*="listItem__"] > [class*="wrapper_"]),
    svg[class*="placeholderMask__"],
    svg:not([class*="placeholderMask__"]) > foreignObject {
        width: var(--guildbar-avatar-size) !important;
        height: var(--guildbar-avatar-size) !important;
    }

    [class*="dragInner__"] {
        width: 40px;
        height: 40px;
    }

    [class*="dragOver_"] {
        top: calc(var(--guildbar-avatar-size) / 2 + 8px)
    }

    [class*="childWrapper__"]>svg {
        width: calc(var(--guildbar-avatar-size) - 18px);
        height: calc(var(--guildbar-avatar-size) - 18px);
    }

    [class*="childWrapper__"],
    [class*="childWrapper__"] img,
    [class*="icon_"],
    [class*="circleIconButton__"] {
        border-radius: 50% !important;
        transition: border-radius 150ms linear;
    }

    [class*="selected__"] {
        [class*="childWrapper__"],
        [class*="childWrapper__"] img,
        [class*="icon_"],
        &[class*="circleIconButton__"] {
            border-radius: 27% !important;
        }
    }

    [class*="shiftSVG_"] {
        top: 0px;
        left: 0px;

        foreignObject {
            transform: translate(-4px, -4px);
        }
    }

    mask {
        --badge-offset: calc(var(--guildbar-avatar-size) - 40px);

        &:not([class*="folderHeader__"] mask) {
            use[href$="-lower_badge_masks"] {
                translate: var(--badge-offset) var(--badge-offset);
            }

            use[href$="-upper_badge_masks"] {
                translate: var(--badge-offset);
            }
        }

        use[href$="-blob_mask"] {
            scale: var(--blob-scale);
        }
    }

    [class*="folderPreviewWrapper__"] {
        display: flex;
        justify-content: center;
        align-items: center;

        [class*="folderPreview__"] {
            width: calc(var(--guildbar-folder-size) * (2/3) + var(--custom-folder-preview-gap));
            height: calc(var(--guildbar-folder-size) * (2/3) + var(--custom-folder-preview-gap));
        }
    }

    [class*="iconSizeMini_"] {
        width: calc(var(--guildbar-folder-size) / 3);
        height: calc(var(--guildbar-folder-size) / 3);

        [class*="acronym_"] {
            line-height: calc(var(--guildbar-folder-size) / 3);
        }

        &[style*="font-size: 12px;"] {
            font-size: 10px !important;
        }
        &[style*="font-size: 10px;"] {
            font-size: 7px !important;
        }
        &[style*="font-size: 8px;"] {
            font-size: 6px !important;
        }
    }

    [class*="folderButton__"] {
        overflow: visible;
    }

    [class*="folderHeader__"] {
        --guildbar-avatar-size: var(--guildbar-folder-size);
    }
    
    [class*="folderIcon__"] {
        svg {
            width: 24px !important;
            height: 24px !important;
        }
        
        background-color: var(--bg-mod-subtle);
    }
    
    #guild-list-unread-dms > div {
            height: var(--guildbar-avatar-size) !important;
        }
    }

    [class*="isExpanded__"] {
        [class*="folderGroupBackground__"] {
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
        }

        [class*="stack_"] {
            height: auto !important;
        }
    }

    [id^="folder-items-"] {
        --guildbar-avatar-size: var(--guildbar-folder-size);
        --blob-scale: var(--folder-blob-scale);
    }

/* @import url('https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css'); */
.visual-refresh {
    --vr-header-snippet-top: 0px;
    --vr-header-snippet-server-padding: 16px;
    --vr-header-snippet-space: 230px;
    --vr-header-snippet-button-padding: 0;
    --vr-header-snippet-winbuttons: flex;

    div.chat_f75fb0:not(.threadSidebarOpen_f75fb0),
    main.container__133bf,
    div.chatLayerWrapper__01ae2 {
        & section.container__9293f {
            padding-right: var(--vr-header-snippet-space);
        }
    }

    div.headerBar__8a7fc.overlay__8a7fc {
        padding-right: var(--vr-header-snippet-space);

        & .tab__65d41,
        & .searchBar__1ac1c {
            -webkit-app-region: no-drag;
        }
    }

    div.videoControls_bfe55a div.subtitleContainer__49508 {
        padding-right: calc(var(--vr-header-snippet-space) - 20px);

        & .toolbar__9293f {
            -webkit-app-region: no-drag;
        }
    }

    div[class*='page__'] {
        &:not(:has(> div.chat_f75fb0)) {
            anchor-name: --vr-header-snippet;
        }

        & > div.chat_f75fb0 {
            anchor-name: --vr-header-snippet;
        }
    }

    .winButtons_c38106 {
        display: var(--vr-header-snippet-winbuttons);
    }

    div[class*='base_'] {
        grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

        &:has(div.bar_c38106 > div.trailing_c38106 .updateIconForeground__49676) {
            & div.chat_f75fb0,
            & div.subtitleContainer_f75fb0,
            & main.container__133bf,
            & div.chatLayerWrapper__01ae2 {
                & section.container__9293f {
                    padding-right: calc(var(--vr-header-snippet-space) + 50px);
                }
            }

            & div.videoControls_bfe55a .topControls_bfe55a div.toolbar__9293f {
                margin-right: calc(var(--vr-header-snippet-space) + 30px) !important;
            }
        }

        & > div[class*='content__'] {
            z-index: 0;
        }

        & > div.bar_c38106 {
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: var(--vr-header-snippet-top);
            right: anchor(right);
            width: anchor-size(width);
            padding: 0 var(--vr-header-snippet-button-padding) 0 0;

            & > .title_c38106 {
                display: none;
            }
        }

        &:has(> .notice__6e2b9) {
            & > div.bar_c38106 {
                top: anchor(top);
            }
        }

        & div.trailing_c38106 {
            background: none;
            border: none;
            height: var(--custom-channel-header-height);
        }

        &:has(.threadSidebarOpen_f75fb0.threadSidebarFloating_f75fb0) > .bar_c38106 {
            z-index: 0;
        }
    }

    :not(:has(div[class*='page__'] > div.chat_f75fb0)) div[class*='base_'] > div.bar_c38106 {
        right: 0 !important;
    }

    ul[data-list-id="guildsnav"] > div.itemsContainer_ef3116 > div.stack_dbd263 {
        margin-top: var(--vr-header-snippet-server-padding);
    }

    section.headerBar__80679,
    section.header__0b563 div.toolbar__9293f,
    section.header_c791b2 div.toolbar__9293f,
    section.header_c791b2 div.children__9293f,
    :not(.videoControls_bfe55a) div.topic__6ec1a {
        -webkit-app-region: no-drag;
    }

    .shop__6db1d section.showToolbar__9293f {
        padding-right: var(--vr-header-snippet-space);

        .balanceWidgetMenu__80679 {
            margin-right: 0;
        }
    }

    .div.videoControls_bfe55a .topControls_bfe55a {
        z-index: -1;
    }

    .profileThemedContainer__656be .topRow__34940 {
        align-items: end;
        padding-bottom: 0;

        & .closeAction__34940 {
            -webkit-app-region: no-drag;
        }

        & .memberNameContainer__34940 {
            padding-bottom: 12px;
        }
    }
}
/* @import url("https://aushevahmad.github.io/awesome-css/modules/custom-bar-prompt.css"); */
/* custom chat bar input text  */

/* hide existing text */
.placeholder__1b31f.slateTextArea_ec4baf.fontSize16Padding__74017 {
    visibility: hidden;
}

/* add custom text */
.placeholder__1b31f.slateTextArea_ec4baf.fontSize16Padding__74017::before {
    visibility: visible;
    content: var(--prompt-text); /* replace var() with your desired text (in quotes) */
    
    /* for example:
    
    content: "i like snow cones";
    
    */
}

/* @import url("https://blade04208.github.io/css/bettershiki.css"); */

.vc-shiki-root {
    border: 1px solid var(--border-subtle) !important;
    border-radius: var(--radius-xs);
    background: color-mix(in srgb, var(--background-base-lowest), transparent 50%) !important;
    color: var(--text-default) !important;
}

.vc-shiki-lang {
    top: -26px;
    right: 26px;
    color: transparent;
    position: absolute;
    background: transparent;
    padding: var(--space-xxs) var(--radius-xs);
    border-radius: var(--radius-sm);
    border: 1px solid transparent;

    &:hover {
        color: var(--text-default);
        background: var(--background-base-low);
        border-color: var(--border-subtle);
    }
}

.vc-shiki-devicon {
    position: absolute;
    bottom: -24px;
    left: 25%;
}

.vc-shiki-code,
.vc-shiki-container {
    overflow: visible !important;
}

.vc-shiki-table>.vc-shiki-table-row:first-of-type .vc-shiki-table-cell {
    padding-right: 22px;
}

.vc-shiki-btns {
    top: 6px;
    right: 7px;
    opacity: 1;
    width: 24px;
    height: 24px;
}

.vc-shiki-btn {
    opacity: 1;
    width: 24px;
    height: 24px;
    border-radius: var(--radius-xs) !important;
    font-size: 0px;
    background: transparent !important;
    color: var(--brand-300) !important;

    &::after {
        position: relative;
        top: -11px;
        left: -3px;
        content: "⎘";
        font-size: 16px;
    }

    &:hover {
        background: color-mix(in srgb, var(--brand-500), transparent 75%) !important;

        &::before {
            position: absolute;
            top: -30px;
            right: -6px;
            content: "Copy";
            font-size: 13px;
            padding: var(--space-xxs) var(--radius-xs);
            border-radius: var(--radius-sm);
            color: var(--text-default);
            background: var(--background-base-low);
            border: 1px solid var(--border-subtle);
        }
    }

    &:focus {
        background: color-mix(in srgb, var(--brand-500), transparent 90%) !important;
        color: var(--brand-500) !important;

        &::after {
            content: "⎗";
        }

        &::before {
            position: absolute;
            top: -30px;
            right: -14px;
            content: "Copied!";
            font-size: 13px;
            padding: var(--space-xxs) var(--radius-xs);
            border-radius: var(--radius-sm);
            color: var(--text-default);
            background: var(--background-base-low);
            border: 1px solid var(--border-subtle);
        }
    }
}

.messageContent_c19a55, .textContainer__4d95d {
    overflow: visible!important;
}
/* @import url("https://minidiscordthemes.github.io/Snippets/ForumImprovements/main.css"); */
.tagsContainer_f369db{gap:16px;align-items:flex-start}.tagsContainer_f369db .divider_f369db{display:none}.tagsContainer_f369db .tagList_f369db{height:auto;max-height:32px;transition:max-height .2s ease}.tagsContainer_f369db .tagList_f369db:is(:hover,:has(.selected_a2c9e8)){max-height:256px}.tagsContainer_f369db .tagList_f369db .tagListInner_f369db{justify-content:center}.tagsContainer_f369db .tagsButton_f369db{position:static;margin-left:0}.tagsButtonPlaceholder_f369db{display:none}.tagsContainer_d9be46{align-items:flex-start}.tagsContainer_d9be46 .tagsIcon_d9be46{height:24px}.tagsContainer_d9be46 .tagList_d9be46{height:auto;max-height:24px;transition:max-height .2s ease}.tagsContainer_d9be46 .tagList_d9be46:is(:hover,:has(.selected_a2c9e8)){max-height:192px}.tagsContainer_d9be46 .tagsButton_d9be46{position:static;margin-left:0}.tagsButtonPlaceholder_d9be46{display:none}.scrollerInner__36d07{overflow:unset}.scrollerInner__36d07 .divider_ee23ac{display:none}.scrollerInner__36d07 .container__34c2c{box-shadow:var(--elevation-low);border-top-color:rgba(0,0,0,0)}.popout__94439{height:calc(18px + var(--custom-forum-composer-attachments-attachment-size) + 24px)}.popout__94439 .uploadContainer_aa605f .imageSmall__41ea0{border-radius:12px 12px 0 0}.popout__94439 .uploadContainer_aa605f .imageSmall__41ea0 .spoilerContainer__299eb{border-radius:12px 12px 0 0}.popout__94439 .uploadContainer_aa605f .actionBarContainer_aa605f{top:unset;bottom:0}.popout__94439 .uploadContainer_aa605f .actionBarContainer_aa605f .smallActionBar_aa605f{transform:none;opacity:1}.popout__94439 .uploadContainer_aa605f .actionBarContainer_aa605f .smallActionBar_aa605f .wrapper_f7ecac{border-radius:0 0 12px 12px}.imageSmall__41ea0.icon__41ea0{background-color:var(--background-primary);background-size:60%}.imageSmall__41ea0 .spoilerContainer__299eb{border-radius:12px}.imageSmall__41ea0 .spoilerContainer__299eb .spoilerWarning__54ab5{zoom:.7}.mainCard_f369db:hover{transform:none}.mainCard_f369db .imageCover__9a337{object-fit:contain;background:var(--background-secondary)}:is(.mediaIconsRow__9a337,.tagsRow__9a337){transition:opacity .2s}.postBody__9a337:hover :is(.mediaIconsRow__9a337,.tagsRow__9a337){opacity:0}:is(.mediaIconsRow__9a337,.tagsRow__9a337) .mediaIcon__9a337{background-image:url("https://discord.com/assets/c5a74fc51ff67682b11a.svg");height:22px}:is(.mediaIconsRow__9a337,.tagsRow__9a337) .mediaIcon__9a337 path{fill:rgba(0,0,0,0)}.thumbnailContainer_faa96b .loadingOverlay_af017a{display:flex;align-items:center;justify-content:center}.thumbnailContainer_faa96b .altText__0f481{position:absolute;z-index:-1}.previewForm_d9be46{padding:0;margin:1px 12px 0 0;border:0;outline:2px solid var(--background-modifier-selected);border-radius:var(--radius-xs);width:calc(100% - 24px - 78px - 24px)}.previewForm_d9be46 .contentContainer_d9be46{width:100%}.previewForm_d9be46 .previewModeIndicator_d9be46{position:absolute;pointer-events:none;bottom:4px;right:4px}

/* YAPPING TYPING */
.typingDots_b88801 > .ellipsis_b88801+.text_b88801 {
  font-size: 0;
  height: 16px;
  >strong {
    font-size: 12px;
    &::after {
      color: var(--text-secondary);
      font-weight: 500;
    }
    &:last-child::after {
      content: " is yapping...";
    }
    &:last-child:not(:first-child)::after {
      content: " are yapping...";
    }
    &:nth-last-child(2)::after {
      content: " and "
    }
    &:nth-last-child(3)::after {
      content: ", ";
    }
  }
  &:not(:has(>strong))::after {
    font-size: 12px;
    content: "Several people are yapping...";
  }
}

/* REVERT USER AREA*/
.visual-refresh section.panels__5e434 {
  left: calc(var(--custom-guild-list-width) + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
  box-sizing: border-box;

  .actionButtons_e131a9 button {
    padding: 0;
  }

  /* GameActivityToggle Fix (delete if you don't use) */
  /* .container__37e49 {
    padding: var(--space-xxs);
    gap: var(--space-4);
    >.buttons__37e49 {
      gap: 0;
    }
    >.avatarWrapper__37e49 {
      min-width: 32px !important;
      >.avatar__37e49 {
        scale: 0.9;
      }
    }
  } */
}
nav.guilds__5e434 {
  margin-bottom: 0 !important;
}
.sidebar__5e434:after {
  display: none;
}
/* BetterFolders fix (delete if you don't use) */
/* .vc-betterFolders-sidebar~section.panels__5e434 {
  left: calc(var(--custom-guild-list-width)*2  + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width)*2 - var(--space-xs)*2 ) !important;
} */

/* User Area and Activity Panels redesign */
/* #vc-spotify-player {
    background-color: var(--background-gradient-highest, var(--background-base-low)) !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid var(--border-subtle);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 130px;
    margin-bottom: 12px;
}

section[class^="panels_"] {
    background: var(--background-gradient-high, var(--background-base-lowest));
    border: 0px;
    border-left: 0px;
}

section[class^="panels_"] div[class^="container__"] {
    background-color: var(--background-gradient-highest, var(--background-base-low));
    border: 1px solid var(--border-subtle);
    border-radius: 20px;
}

section[class^="panels_"] div[class^="panel_"] {
    margin-bottom: 12px;
    border-radius: 20px;
    border: 1px solid var(--border-subtle);
}

header[class^="header_"] {
    border-bottom: 0px;
}

section[class^="panels_"] div[class^="listeningAlong_"] {
    border: 1px solid var(--border-subtle) !important;
    margin-bottom: 12px;
    border-radius: 20px;
} */

/* SETTINGS AS WINDOW / MAKE SETTINGS A WINDOW*/
.standardSidebarView__23e6b {
    position: absolute;
    width: 80vw;
    max-width: 80vw !important;
    height: 80vh;
    z-index: 3;
    justify-self: center;
    align-self: center;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border: rgba(255, 255, 255, 0.1) 1px solid;
    
    .contentRegion__23e6b {
        width: calc(80vw - 270px);
        display: block;
        flex: none;

        .toolsContainer__23e6b {
            margin: 0;
            position: absolute;
            right: 0px;
            top: 0;
            flex: none;
            background-color: var(--background-primary);
            padding: 0px;
            height: 46px;
            width: 100%;
            box-shadow: var(--elevation-low);
           

            .tools__23e6b {
                position: absolute;
                top: 10px;
                right: 20px;
                z-index: 5000;
                padding-top: 3vh;

                .container_c2b141 {
                    .keybind_c2b141 {
                        display: none;
                    }

                    .closeButton_c2b141 {
                        border-radius: 50%;
                        background-color:rgba(255, 255, 255, 0.1);
                        color: white;
                        height: 25px !important;
                        width: 25px !important;
                        border: none;
                        flex: none;

                        >svg {
                            margin: 9px 0px 0px 9px;
                            width: 18px !important;
                            height: 18px !important;
                            overflow: visible;

                            >path {
                                margin-left: 20px;
                                d: path("M0.00380648 0.00268555H1.50315H1.55C1.93069 0.0202563 2.31724 0.19596 2.5808 0.47123L6.00117 3.8916L9.4684 0.47123C9.86666 0.125678 10.1361 0.0143984 10.4992 0.00268555H11.9985V1.50203C11.9985 1.92957 11.9458 2.32784 11.6237 2.62653L8.20333 6.0469L11.5768 9.42042C11.858 9.70155 11.9985 10.0998 11.9985 10.4981V11.9974H10.4992C10.1009 11.9974 9.70267 11.8569 9.42154 11.5757L6.00117 8.15535L2.5808 11.5757C2.29967 11.8569 1.90141 11.9974 1.50315 11.9974H0.00380648V10.4981C0.00380648 10.0998 0.14437 9.70155 0.425496 9.42042L3.84587 6.0469L0.425496 2.62653C0.109228 2.33369 -0.0313351 1.92372 0.00380648 1.50203V0.00268555Z");
                            }
                        }
                    }
                }
            }
        }

        .contentColumn__23e6b {
            >.settingsPage_f131e9 {
                >h3 {
                    font-size: 0px;
                    z-index: 5000;
                    align-content: center;
                    text-align: center;
                    position: fixed;
                }
            }

            >div>h2[data-text-variant="heading-lg/semibold"],
            >div>.sectionTitle__7bffb>h2,
            >h2[data-text-variant="heading-lg/semibold"] {
                font-size: 0px;
                z-index: 100;
                height: 0px;
                align-content: center;
                text-align: center;
                position: fixed;
                pointer-events: none;
            }

            .tabBar_d6f9e9 {
                margin-top: 0;
            }

            

            .headerContainer__6a750 {
                justify-content: center;
            }
        }
    }

    .sidebarRegion__23e6b {
        flex: none;

        .sidebar__23e6b {
            width: 270px;
            overflow: visible !important;

            &::before {
                visibility: hidden;
                content: "Settings";
                font-size: 16px;
                font-weight: 600;
                z-index: 4;
                height: 46px;
                align-content: left;
                padding-left: 10px;
                text-align: left;
                width: 260px;
                position: fixed;
                pointer-events: none;
                background-color: var(--background-secondary);
                box-shadow: var(--elevation-low);
                color: white;
                border-radius: 16px 0px 0px 0px;
            }

            .side_b3f026 {
                overflow: visible !important;
                padding: 60px 8px 6px 16px;
            }
        }
    }
    
}

.layer__960e4 {
    background-color: rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(0.1rem); */
}

.baseLayer__960e4 {
    opacity: 1 !important;
    transform: scale(1) !important;
}

/* SHIGGY LOADER */
.content_a2f514 {
    display: flex;
    flex-direction: column;
    > .spinner_a2f514 { display: none }
    &:before {
        display: block;
        height: 128px;
        position: relative;
        content: url(https://cdn.discordapp.com/emojis/1320593910631895134.gif?size=48&animated=true&name=Izuna);
        image-rendering: pixelated;
         align-content: center;
         scale: 3.125;
         margin-bottom: 96px;
    }
}

/* CHANNEL HOVER ANIMATION */
:root {
    --list-item-transition: 0.2s ease;
}
.wrapper__2ea32 .link__2ea32 {
    transition: margin-left var(--list-item-transition);
}
.wrapper__2ea32:hover .link__2ea32 {
    margin-left: 10px;
}
.unread__2ea32 {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    transition: var(--list-item-transition);
}
.wrapper__2ea32:hover .unread__2ea32 {
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: 3px;
    background-color: transparent;
    background: url('https://cdn.discordapp.com/emojis/1174158127709569065.webp?size=96');
    background-size: 12px;
    background-position: center;
}

/* COLORED ROLE PILLS  */

.roleTag_af3987 > .role_af3987 {
    position: relative;
    border-color: transparent;
    .roleCircle__4f569::before {
        content: "";
        position: absolute;
        pointer-events: none;
        inset: 0;
        border-radius: var(--pill-roundness);
        background-color: inherit;
        opacity: var(--pill-opacity);
    }
    @container style(--pill-border: true) {
    .roleCircle__4f569::after {
        content: "";
        position: absolute;
        inset: 0;
        border: 1px solid grey;
        border-radius: var(--pill-roundness);
        pointer-events: none;
        mix-blend-mode: difference;
        opacity: 0.3;
    }
    }
    .twoColorGradient_e5de78::before,
    .threeColorGradient_e5de78::before {
        content: "";
        background: inherit;
        background-size: 50% 100%;
        transition: background-position 0s;
    }
    .twoColorGradient_e5de78:hover::before,
    .threeColorGradient_e5de78:hover::before {
        animation: seamlessGradient 5s linear infinite;
    }
    .removeButton_af3987 {
        position: relative;
        left: -100%;
        transform: translateX(21px);
        margin-left: -14px;
        opacity: 0;
        color: grey;
        mix-blend-mode: difference;
        &:hover {
            opacity: 1;
        }
    }
    .roleName_af3987 {
        z-index: 2;
    }
    .roleIcon_ee71ee {
        position: relative;
        display: flex;
        width: 16px;
        height: 16px;
    }
}

.outer_c0bea0 {
    &.theme-light.images-light {
        --button-bg: rgb(0 0 0 / 0.1);
        --button-bg-hover: rgb(0 0 0 / 0.2);
    }
    &.theme-dark.images-dark {
        --button-bg: rgb(255 255 255 / 0.1);
        --button-bg-hover: rgba(255 255 255 / 0.2);
    }
    .pillButton_af3987,
    .addButton_af3987,
    .vc-permviewer-role-button {
        border-color: transparent;
        border-radius: var(--pill-roundness);
        background-color: var(--button-bg);
        &:hover {
            background-color: var(--button-bg-hover);
        }
    }
}
@keyframes seamlessGradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

/* USER AND CHAT BOX ALIGNER */
/* .visual-refresh {
    --custom-channel-textarea-text-area-height: 56px;
    .form_f75fb0 {
        margin: 0 8px 8px 8px;
        padding: 0;
        --chatbar-border-color: var(--border-faint);
    }
    .channelTextArea_f75fb0 {
        margin: 0;
        border-color: var(--chatbar-border-color);
        transition: none;
    }
    .base_b88801 {
        top: -24px;
        left: 0;
        right: 0;
        background-color: var(--chat-background-default);
        padding: 0 8px;
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;
        border: 1px solid var(--chatbar-border-color);
        border-bottom: none;
        transition: none;
        box-sizing: border-box;
    }
    .stackedBars__74017,
    .threadSuggestionBar__841c8 {
        border-color: var(--chatbar-border-color) !important;
    }
    .form_f75fb0:has(.base_b88801) {
        .channelTextArea_f75fb0 {
            border-radius: 0 0 var(--radius-sm) var(--radius-sm);
        }
    }
    .form_f75fb0:has(.channelTextArea__74017:focus-within) {
        --chatbar-border-color: var(--border-subtle);
    }
    .scrollerSpacer__36d07 {
        height: calc(24px + 8px);
    }
    .scroller__36d07::-webkit-scrollbar-track {
        margin-bottom: calc(20px + 8px);
    }
    .bottomBar__0f481 {
        margin-bottom: 24px;
    }
    .wrapper__44df5 {
        margin: 0;
        border-radius: var(--radius-sm);
    }
} */

/* STATUS BASED ACTIVITY ICON */
[class^=memberInner]:has(> div > [aria-label*="Online"]) [class^=subText] svg>path[fill="#40a258"] {
    fill: #43b581;
}

[class^=memberInner]:has(> div > [aria-label*="Idle"]) [class^=subText] svg>path[fill="#40a258"] {
    fill: #f0b232;
}

[class^=memberInner]:has(> div > [aria-label*="Do Not Disturb"]) [class^=subText] svg>path[fill="#40a258"] {
    fill: #f23f43;
}

[class^=memberInner]:has(> div > [aria-label*=Streaming]) [class^=subText] svg>path[fill="#40a258"] {
    fill: #643da7;
}

/* VISIBLE BANNER */
/*     Visible Server Banner     */
[class^="container_"]:not([class*="bannerVisible_"]) >
[class^="animatedContainer_"] {
  top: 3px;
}
[class*="animatedContainer_"] {
  opacity: 1 !important;
}
[class*="headerContent_"] {
  filter: drop-shadow(0 1px 1px var(--bg-backdrop));
}
/* AMOLEDCord fix */
[class^="sidebar_"] header {
  background-color: transparent !important;
}

/* REPLY TAGS ORDER FIX */
[class^=botTagCompact], /* reorder tegs in replies */
[class^=repliedTextPreview], /* reorder message in replies */
[class^=repliedTextContentTrailingIcon] /* reorder icon that can come after the message in replies */
{
    order: 1 !important; /* default order is 0 so putting it to 1 put it after */
}

/* MUTE CHANNEL EMOJIS */
[class*="modeMuted_"]:has([class^="icon_"]) [class^="name_"] {
    color: var(--channel-icon);
    opacity: 40%;
}

/* CHAT HOVER ANIMATION */
[data-list-item-id*="message"],
[class*="messageListItem"],
[id*="message-"],
li[class*="messageListItem"] {
    position: relative;
    border-radius: var(--wave-border-radius);
    transition: all 0.3s ease;
}
[data-list-item-id*="message"]:hover,
[class*="messageListItem"]:hover,
li[class*="messageListItem"]:hover {
    transform: translateX(6px);
}